*{
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
} 
::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb{
	
	background: linear-gradient(transparent, #D81815);
	border-radius: 8%;
	
}

::-webkit-scrollbar-thumb:hover{
	
	background: linear-gradient(transparent, #ffffff);
	
}


body{
    margin:auto;
    background-color: rgb(0, 0, 0);
	overflow-x: hidden;
	
}
img{
    height: 105%;
	width: 50%;
	opacity: 0.8;
}



.menu-btn{
 color: rgb(136, 12, 12);
 font-size: 23px;
 cursor: pointer;
 display: none;
}

.caja1{
    display: flex;
    background-color:black;
    height: 100px;

}
    
.caja2{
    display: flex;
    background-color:black;
    height:20 px;
    text-align: 20px;
    justify-content: center;
    transition: color 0.3 ease;
    

}



.boton  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


h1{
    font-family: 'Montserrat', sans-serif;
    height: 30px;
    color:#ffffff;
	transition: color 0.3 ease;
	cursor: pointer;	
}

h1:hover{
	color: #D81815;
}

h1 a{
	color: white;
	transition: colo 0.3 ease;
	cursor: pointer;
}

h1 a:hover{
	color: #D81815;
}

button{
    border: 0px;
	background-color: transparent;
	transition: none;
    cursor: pointer;
}


.titulo1{
    font-size: 100px;
    margin-top: 110px;
    text-align: left;

}
.titulo2{
    font-size: 30px;
    margin-top: 200px;
    text-align: left;
    top: auto;

}
.img{
    width: 120%;
    height: 150%;
}

.container2{
	position: relative;
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
}

article h4{
	font-size: 70px;
	cursor: pointer;
}

article h4:hover{
	color: #D81815;
}
section{
	overflow: hidden;
	display: flex;
	
}


.container1{
	position: relative;
	width: 500%;
	height: 300%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	filter: url(#gooey);
}



.container1 .circle{
	position: relative;
	min-width: 150px;
	height: 150px;
	border-radius: 200%;
	background: #ffffff;
}


.container1 .circle:before{
	content: '';
	position: absolute;
	top: -50px;
	left: -50px;
	right: -50px;
	bottom: -50px;
	border-radius: 200px;
	background: #d80505;
	z-index: -1;
	filter: blur(60px);


}

.container1 .circle.circle1,
.container1 .circle.circle1:before{
	background: linear-gradient(#D81815, #745daa, rgb(58, 23, 255));
}

.container .circle.circle2,
.container1 .circle.circle2:before{
	background: linear-gradient(#D81815, #ff7535, rgb(255, 0, 0));
}

.container1 .circle.circle1{
	animation: animate1 4s linear infinite;
}
@keyframes  animate1{
	0%
	{
		transform: translateX(0) rotate(0deg);
	}
	30%
	{
		transform: translateX(200px) rotate(240deg);
	}
	60%
	{
		transform: translateX(300px) rotate(280deg);
	}
	100%
	{
		transform: translateX(0) rotate(720deg);
	}
}

.container1 .circle.circle2{
	animation: animate2 4s linear infinite;
}
@keyframes  animate2{
	0%
	{
		transform: translateX(0) rotate(0deg);
	}
	30%
	{
		transform: translateX(-200px) rotate(-240deg);
	}
	60%
	{
		transform: translateX(-300px) rotate(-280deg);
	}
	100%
	{
		transform: translateX(0) rotate(-720deg);
	}
}


svg{
	width: 0;
	height: 0;

}



	
* {
	padding: 0;
	margin: 0;
}





main {
	display: block;
	margin: auto;
}

main .contenedor {
	width: 90%;
	max-width: 1000px;
	justify-content: center;
	
}

/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}


.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #D81815;
}

.fm-video .vjs-slider {
	background: #D81815;
}

.video-js:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2);
}

.fm-video .vjs-big-play-button {
	background: rgba(0,0,0,.2);
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}

.fm-video .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
}

article {
	margin: 50px 0;
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 28px;
	padding: 40px;
}

article h2 {
	color:#D81815;
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	
}
 





@media screen and (max-width: 600px) {
	header {
		position: relative;
		height: auto;
	}

	main {
		margin-top: 50px;
	}
}


.bottoncv{
	display: flex;
	background: #26ff0000;
	justify-content: center;
	text-align: center;
	margin: 50px;
	margin-top: 50px;
	
	 
 }
 
 .cvdowland{
	 display: flex;
	 background-color: #D81815;
	 text-align: center;
	 justify-content: center;
	 border-radius: 50px;
	 font-size: 1.5em;
	 padding: 1rem 2rem;
	 color: #ffffff;
	 font-family: 'Montserrat', sans-serif;
	 font-weight: 950;
	 border: none;
	 cursor: pointer; 
	 text-decoration: none;
	 
 }
 
 .cvdowland:hover{
	 background-color: #ffffff;
	 color: #D81815;
	 text-decoration: none;
 }

/* ------------------habilidades blandas------------------------*/

.habildletrero h1{
	text-align: center;
}

.skills{
    padding: 5px;
    width:500px;
    margin: 90px 40px;
	color: #ffffff;
	align-items: center;
	
}

.skills li{
    margin: 20px 0;
	display: flex;
	
    
}

.skills li img{
  margin-right: 15px;
  justify-content: center;
  
}


.bar{
    background: #000000;
    display:block;
    height: 50px;
    border: none;
    border-radius: 50px;
    overflow: hidden;
    

}

.bar span{
    height: 50px;
    float:left;
	background: linear-gradient(#D81815, transparent) ;
	border-radius: 50px;
	

}

.creatividad{
    width: 90%;
    animation: crea 10s;
}

.equipo{
    width: 90%;
    animation: equi 10s;
}

.innovacion{
    width: 95%;
    animation: inno 10s;
}

.liderazgo{
    width: 90%;
    animation: lide 10s;
}

.productividad{
    width: 80%;
    animation: produ 10s;
}

.fluidez{
    width: 75%;
    animation: flu 10s;
}

@keyframes crea {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes equi {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes inno {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes lide {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes produ {
    0%{
        width: 0%;
    }
    100%{
        width: 82%;
    }
}

@keyframes flu {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

/**/
.iconos1{
    max-width:6% ;
}

.skills li{
    margin-bottom:10px;
}

.skills h3  {
     margin-bottom:10px;
}
/*----------------------- HABILIDADES TECNICAS ----------------------*/
.ilustrador{
    width: 86%;
    animation: ilus 10s;
}

.premier{
    width: 90%;
    animation: prem 10s;
}

.photo{
    width: 80%;
    animation: photo 10s;
}

.html{
    width: 72%;
    animation: html 10s;
}

.css{
    width:72%;
    animation: css 10s;
}


@keyframes ilus {
    0%{
        width: 0%;
    }
    100%{
        width: 86%;
    }
}

@keyframes prem {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes photo {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}

@keyframes off {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}





 



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000000;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

header {
	padding: 40px 0;
}

header .logo {
	text-align: center;
	margin-bottom: 40px;
}

header .logo p {
	color: #000000;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 20px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}

header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .categorias a {
	color: #ffffff;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

header .categorias a.activo {
	color: #D81815;
}

/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: rgb(255, 255, 255);
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */
@media screen and (max-width: 700px) {
	.grid .item {
		width: calc(50% - 20px);
	}

	header .barra-busqueda {
		width: 100%;
	}
}


.container3{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.container3:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}


.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(0, 0, 0);
	
}

.container3 .contact-box .left .info{
	
	position: relative;
	margin: 20px 0;

}

.container3 .contact-box .left .info li{
	position: relative;
	list-style: none;
	display: flex;
	margin: 20px 0;
	cursor: pointer;
	align-items: flex-start;
	
}
.container3 .contact-box .left .info li span:nth-child(1)
{
	width: 50px;
	min-width: 50px;


}
.container3 .contact-box .left .info li span:nth-child(1)img{
	max-width: 100%;
	opacity: 0.5;
	
}
.container3 .contact-box .left .info li span:nth-child(2){
	color: #ffffff;
	margin-left: 10px;
	font-weight: 300;
	opacity: 0.5;
}
.container3 .contact-box .left .info li:hover span:nth-child(1)img,
.container3 .contact-box .left .info li:hover span:nth-child(2){
	opacity: 1;

}

.container3 .contact-box .left .sci
{
	justify-content: center;
	
}
.container3 .contact-box .left .sci li{
	align-items: center;

}
.container3 .contact-box .left .sci li a{
	text-decoration: none;
	
}

.container3 .contact-box .left .sci li a img{
	width: 480px;
	height: 300px;
	

}



h6{
	position: relative;
	padding: 0 0 20px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 150%;
}

h6:hover{
	color: #d80505;
}

h6:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #D81815;
}

.field{
	width: 100%;
	border: 2px solid rgba(255, 255, 255, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.096);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(250, 170, 170, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #D81815;
	color: rgb(255, 255, 255);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
	font-family: 'Montserrat', sans-serif;
}

.btn:hover{
    background-color: #000000;
}

.field:focus{
    border: 2px solid rgba(30, 85, 250, 0.048);
    background-color: #fff;
}

.social {
	
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {

		display: inline-block;
		color:rgba(255, 255, 255, 0.342);
		
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook {background:#f2171734;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #d8181534;}
	.social ul li .icon-googleplus {background: #d8d9db34;}
	.social ul li .icon-pinterest {background: #90929436;}
	.social ul li .icon-mail {background: #ffffff2a;}
 
	.social ul li a:hover {
		background: rgba(255, 255, 255, 0.705); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}


	.ir-arriba {
		display:none;
		padding:10px;
		background:#d81815;
		font-size:10px;
		color:#fff;
		cursor:pointer;
		position: fixed;
		bottom:10px;
		right:10px;
		justify-content: center;
	}


@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/* Mediaqueries */
/* ------------------------- */


/* ------------------------- */



@media(max-width:480px){

	.form1{
		width: 100%;
	}
	.info{
		justify-content: center;
	}
	.sci{
		
	padding: 800px;
	
		
	}
	.habildletrero h1{
		padding-left: 150px;
	
	}


	.skills{
		text-align: center;
		padding-left: 70px;
	}
	.social{
		position: relative;
		align-items: flex-start;
		
	}

	
}

@media(max-width:700px){

.boton h1{
		font-size: 15px;
	}
	.caja1{
		display: block;
		margin: auto;
	}

	.titulo1{
		text-align: center;
	
	}
	.titulo2{
		text-align: center;
	}
	.img{
		padding-right: 100px;
	}



	
	
	

}